/* adding complexity to bugs - user need to override in respective css file*/

.m-leadspace__title:not(:has(span)) {
  line-height: 50% !important;
}
.m-approach:has(.c-btn:hover) .c-btn {
  pointer-events: none;
}
[animation="txt-intro"]{
  opacity: 0;
  transform: translateY(6.25rem);
}

