.site-footer {
  color: var(--main-clr);
}
.site-footer__bg {
  background: var(--main-text);
}
.site-footer__title {
  font-size: 3.55rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 300;
}
.site-footer__btn {
  font-size: 2rem;
  --main-clr: #c7c2bb;
  color: var(--main-clr);
  padding-bottom: clamp(0.25rem, 0.23rem + 0.09vw, 0.38rem);
  position: relative;
  display: inline-flex;
  margin-top: clamp(2rem, 1.85rem + 0.75vw, 3rem);
  line-height: 1.1;
  letter-spacing: -0.01em;
  font-weight: 300;
  background: #0000;
}
.site-footer__btn:before {
  background-color: var(--main-clr);
  bottom: 0.125rem;
  content: "";
  height: 0.0625rem;
  position: absolute;
  right: 0;
  width: 100%;
}
.site-footer__btn:hover {
  --main-clr: #fff;
}
.site-footer__link {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.46rem + 0.19vw, 0.75rem);
  font-size: clamp(1rem, 0.93rem + 0.38vw, 1.5rem);
  line-height: 1.1;
  letter-spacing: -0.01em;
  font-weight: 300;
}
.site-footer__link > li {
  margin: 0;
}
.site-footer__contact-info > li {
  position: relative;
  padding-left: 30px;
  word-wrap: break-word;
}
.site-footer__contact-info > li svg {
  position: absolute;
  left: 0;
  top: 3px;
}
.site-footer__destination {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.46rem + 0.19vw, 0.75rem);
}
.site-footer__destination-title {
  display: flex;
  justify-content: space-between;
  font-size: clamp(2.49rem, 1.92rem + 2.87vw, 6.31rem);
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 300;
}
