.m-approach__title {
  font-size: clamp(2.49rem, 1.92rem + 2.87vw, 6.31rem);
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 300;
}
.m-approach-list__btn {
  position: relative;
}
.m-approach-list__btn .c-btn {
  position: absolute;
  z-index: -1;
}