.m-leadspace__title {
  font-size: clamp(2.49rem, 1.92rem + 2.87vw, 6.31rem);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1;
}
.m-leadspace__video {
  overflow: hidden;
}
.m-leadspace__video-wrap {
  height: 100%;
  width: 100%;
}
.m-leadspace__video-figure > div {
  border-radius: 0.125rem;
  height: 100%;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1.3333333333;
}
@media screen and (min-width: 768px) {
  .m-leadspace__video-figure > div {
    border-radius: 0.25rem;
    aspect-ratio: 1.7777777778;
  }
}
.m-leadspace__video-player {
  border-radius: 0.125rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .m-leadspace__video-player {
    border-radius: 0.25rem;
  }
}
